<% include ../partials/header %>

<link href="/stylesheets/admin.css" rel="stylesheet" />

<form action="/gallery/<%= piano._id %>?_method=PUT" method="POST">
  <input type="text" name="piano[title]" value="<%= piano.title %>" placeholder="Title"/>
  <input type="text" name="piano[make]" value="<%= piano.make %>" placeholder="Make"/>
  <input type="text" name="piano[model]" value="<%= piano.model %>" placeholder="Model"/>
  <input type="number" name="piano[year]" value="<%= piano.year %>" placeholder="Year"/>
  <input type="text" name="piano[desc]" value="<%= piano.desc %>" placeholder="Short Description"/>
  <textarea name="body"><%= piano.body %>Long-form Description</textarea>
  <input type="number" name="piano[l_price]" value="<%= piano.l_price %>" min="0.01" step="0.01" placeholder="List Price"/>
  <input type="number" name="piano[a_price]" value="<%= piano.a_price %>" min="0.01" step="0.01" placeholder="Asking Price"/>
  <input type="text" name="piano[yt_url]" value="<%= piano.yt_url %>" placeholder="YouTube URL"/>
  <button>Submit</button>
</form>

<% piano.images.forEach( function(img) { %>
<img width="200" height="200" src="/images/<%= piano._id %>/<%= img %>" />
<form action="/gallery/<%= piano._id %>/delimg/<%= img %>?_method=DELETE" method="POST">
  <button>Remove Image</button>
</form>
  <% }); %>

  <a href="/gallery/<%= piano._id %>/chgimg">Add More Images</a>

<% include ../partials/footer %>