<% include ../partials/header %>

<link href="/stylesheets/admin.css" rel="stylesheet" />

<form action="/gallery/<%= piano._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <input type="text" name="title" value="<%= piano.title %>" />
  <input type="text" name="make" value="<%= piano.make %>" />
  <input type="text" name="model" value="<%= piano.model %>" />
  <input type="number" name="year" value="<%= piano.year %>" />
  <input type="text" name="desc" value="<%= piano.desc %>" />
  <textarea name="body"><%= piano.body %></textarea>
  <input type="number" name="l_price" value="<%= piano.l_price %>" min="0.01" step="0.01" />
  <input type="number" name="a_price" value="<%= piano.a_price %>" min="0.01" step="0.01" />
  <input type="text" name="yt_url" value="<%= piano.yt_url %>" />
  <button>Submit</button>
</form>

<% piano.images.forEach( function(img) { %>
<img src="/images/<%= img %>" />
<form action="/gallery/<%= piano._id %>/delimg/<%= piano.images.indexOf(img) %>?_method=DELETE" method="POST">
  <button>Remove Image</button>
</form>
  <% }); %>

<script src="/javascripts/gallery_new.js"></script>

<% include ../partials/footer %>