<% include ../partials/header %>
<% if(page.admin) { %>
  <% include ../partials/admin_gallery %>
<link href="/stylesheets/admin.css" rel="stylesheet" />
<% } %>

<% include ../partials/nav %>
<div class="container-fluid border-bottom pb-3">
  <img class="m-auto d-block mb-0" src="/ms-icon-150x150.png" alt="BHA Piano Center" />
  <h1 class="text-center mt-0 display-4">Piano Gallery</h1>
</div>

<div class="row m-0 pt-5 pl-1">
  <% include ../partials/gallery_toolbar %>

  <div class="col-sm-10">
    <div class="container">
      <div class="row">
        <div class="card-deck">
          <% pianos.forEach( function(piano) { %>
          <div class="col-sm-4 mb-5">
            <div class="card">
              <a href="/gallery/<%= piano._id %>">
                <div class="card-header text-center"><h3><%= piano.title %></h3></div>
                <div class="card-img-top">
                  <img class="img-thumbnail p-0" src="/images/<%= piano._id %>/<%= piano.main_image %>">
                </div>
              </a>
              <div class="card-body">
                <%= piano.desc %>
              </div>
              <ul class="list-group list-group-flush">
                <% if (piano.a_price === undefined || piano.a_price === "") { %>
                <li class="list-group-item h4 text-center">$<%= piano.l_price %></li>
                <% } else { %>
                <li class="list-group-item h4 text-center text-secondary">$<del><%= piano.l_price %></del></li>
                <li class="list-group-item h3 text-center text-danger"><%= piano.a_price %></li>
                <% } %>
              </ul>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center text-muted">
  <p class="mt-5 mb-3 text-muted">
    BHA Logo &copy; 2018 BHA Piano<br />
    All images were found on
    <a href="http://photosforclass.com/">
      PhotosForClass.com
    </a>. Attribution is included in each image.
  </p>
  <p class="mt-5 mb-3 text-muted">Web Design &copy; 2018 Jay Chasteen</p>
</div>

<% include ../partials/footer %>