<% include ../partials/header %>

<h1>Gallery Index</h1>

<a href="/gallery/new">New Piano</a>

<% pianos.forEach( function(piano) { %>
  <p>
    <a href="/gallery/<%= piano._id %>">
      <%= piano.title %>
      <img src="/images/<%= piano._id %>/<%= piano.main_image %>" width="100" height="100">
    </a>
    <%= piano.desc %>
    <%= piano.l_price %>
    <%= piano.a_price %>
  </p>
<% }); %>

<% include ../partials/footer %>