<% include ../partials/header %>

<form action="/gallery/<%= piano._id %>?_method=DELETE" method="POST">
  <button>Remove Piano</button>
</form>
<a href="/gallery">Back to Gallery</a>
<a href="/gallery/<%= piano._id %>/edit">Edit Piano</a>

<%= piano.title %>
$<%= piano.l_price %>
$<%= piano.a_price %>
<%= piano.make %>
<%= piano.model %>
<%= piano.year %>
<%= piano.body %><br>
<% piano.images.forEach( function(img) { %>
  <img width="200" height="200" src="/images/<%= piano._id %>/<%= img %>" />
<% }); %>

<% include ../partials/footer %>