<% include ../partials/header %>
<% if (page.admin){ %>
  <% include ../partials/admin_piano %>
<% } %>

<a href="/gallery">Back to Gallery</a>

<%= piano.title %>
$<%= piano.l_price %>
$<%= piano.a_price %>
<%= piano.make %>
<%= piano.model %>
<%= piano.year %>
<%= piano.body %><br>
<% piano.images.forEach( function(img) { %>
<img width="200" height="200" src="/images/<%= piano._id %>/<%= img %>" />
<% }); %>

<% include ../partials/footer %>